@import "../utils/variables";

header {
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 0.7em;

  & > a {
    display: flex;
    justify-content: center;
    flex-direction: column;

    & > div:nth-child(n + 2) {
      margin-top: 10px;
    }
  }
}

main {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;

  section.search-section {
    margin-top: 1em;
    text-align: left;
    & > form {
      margin-bottom: 10px;
      & > input#search {
        width: 100%;
        font-family: var(--font-main);
        background-color: var(--color-primary);
        border: none;
        border-radius: 3px;
        height: 55px;
        padding: 15px;
        outline: none;
        margin-top: 0.5em;
        font-weight: 600;
        text-overflow: ellipsis;
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
      }
      & > .fa-search {
        position: relative;
        left: calc(100% - 40px);
        margin-top: -1.45em;
        font-size: 1.8em;
      }
    }
    & > #tagsList > div {
      display: inline-block;
      & > .tag {
        width: max-content;
        display: inline-block;
        border-radius: 4px;
        color: white;
        padding: 0.7em;
        padding-left: 1.2em;
        padding-right: 1.35em;
        margin-right: 0.5em;
        margin-bottom: -0.5em;
        font-size: .8em;
        font-family: var(--font-main);
        font-weight: 600;
        position: relative;
        transition: all 0.5s;
        & > .fa-circle-xmark {
          font-size: 1.2em;
          position: relative;
          left: 5px;
          cursor: pointer;
          transition: all 1s;
          &:hover,
          &:active,
          &:focus {
            transform: rotate(360deg);
          }
        }
      }
    }
    & > #tagsList > div > .tagIngredient {
      background: var(--color-secondary);
    }
    & > #tagsList > div > .tagAppliance {
      background: var(--color-tertiary);
    }
    & > #tagsList > div > .tagUstensil {
      background: var(--color-quaternary);
    }
    & > .tagList {
      display: inline-flex;
      align-items: baseline;
      flex-wrap: wrap;
      background: var(--color-secondary);
      font-family: var(--font-main);
      font-weight: 600;
      font-size: 1em;
      width: 140px;
      height: 50px;
      min-width: initial;
      max-width: 355px;
      transition: all 1s;
      padding: 1em;
      color: white;
      margin-top: 1.5em;
      margin-right: 0.8em;
      // margin-bottom: -0.5em;
      border-radius: 3px;
      cursor: pointer;
      position: relative;

      & > span > input {
        background: none;
        border: none;
        color: white;
        outline: none;
        width: auto;
        font-family: var(--font-main);
        font-weight: 600;
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
      }
      & .fa-chevron-up {
        transform: rotate(180deg);
        // margin-left: auto;
        // margin-right: 0.5em;
        position: relative;
        left: 10px;
        cursor: pointer;
        transition: all 0.4s;
      }
      & > .list {
        display: none;
        overflow: auto;
        width: 100%;
        height: 90%;
        margin-top: 1.5em;
        flex-wrap: wrap;
        align-content: space-between;
        flex-direction: column;
        transition: all 0.3s;
        &::-webkit-scrollbar {
          width: 9px;
          height: 9px;
        }
        & > span {
          margin-bottom: 0.65em;
          margin-right: 0.5em;
          margin-left: 0.5em;
          cursor: pointer;
          transition: all 0.4s;
        }
      }
    }
    & > #ingredients {
      background: var(--color-secondary);
      &:hover {
        background-color: darken($color-secondary, 20);
        transition: all .5s;
      }
      & > #listIngredients {
        &::-webkit-scrollbar-thumb {
          background: #0060ec;
          border-radius: 5px;
        }
        & > span {
          &:hover,
          &:active,
          &:focus {
            color: lighten($color-secondary, 40%);
          }
        }
      }
    }
    & > #appliances {
      background: var(--color-tertiary);
      &:hover {
        background-color: darken($color-tertiary, 20);
        transition: all .5s;
      }
      & > #listAppliances {
        &::-webkit-scrollbar-thumb {
          background: #469e75;
          border-radius: 5px;
        }
        & > span {
          &:hover,
          &:active,
          &:focus {
            // color: #3e8f69;
            color: lighten($color-tertiary, 40%);
          }
        }
      }
    }
    & > #ustensils {
      background: var(--color-quaternary);
      margin-bottom: 0.3em;
      &:hover {
        background-color: darken($color-quaternary, 20);
        transition: all .5s;
      }
      & > #listUstensils {
        &::-webkit-scrollbar-thumb {
          background: #d74938;
          border-radius: 5px;
        }
        & > span {
          &:hover,
          &:active,
          &:focus {
            // color: #bb3c2e;
            color: lighten($color-quaternary, 40%);
          }
        }
      }
    }
  }

  section.recipes-section {
    margin-top: 1.5em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    & > article {
      width: 100%;
      min-width: 272px;
      max-width: 360px;
      height: 364px;
      background: var(--color-quinary);
      border-radius: 3px;
      font-family: var(--font-main);
      font-size: 0.8em;
      font-weight: 600;
      margin-bottom: 2em;
      position: relative;
      display: inline-block;
      cursor: pointer;
      transition: all 0.5s;
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0px 0px 5px 1px #0000001f;
      }
      & > aside {
        background: var(--color-primary);
        position: relative;
        // bottom: -157.5px;
        bottom: calc(-100% + 200px);
        width: 100%;
        min-width: 272px;
        max-width: 360px;
        height: 200px;
        padding-top: 0.5em;
        border-radius: 0px 0px 3px 3px;
        display: flex;
        justify-content: space-between;
        align-content: baseline;
        flex-wrap: wrap;
        & > h2 {
          font-size: 18px;
          margin-left: 1em;
          margin-bottom: 0px;
          width: max-content;
          min-width: 30%;
          max-width: 56%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        & > .time {
          font-size: 18px;
          margin-right: 1.5em;
          margin-bottom: 0px;
        }
        & > .ingrédients {
          font-size: 12px;
          margin-left: 1.5em;
          margin-top: 1.5em;
          min-width: 115px;
          width: 38%;
          max-width: 135px;
          height: 125px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        & > .description {
          font-size: 12px;
          min-width: 127px;
          width: 47%;
          max-width: 165px;
          margin-right: 1em;
          margin-top: 1.5em;
          height: 125px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    & > #searchFailed {
      margin-left: auto;
      margin-right: auto;
      margin-top: 8.5%;
      text-align: center;
      & > span {
        font-family: var(--font-main);
        color: #d04f4f;
        font-weight: 600;
        font-size: 1.6em;
      }
    }
  }
}
