@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --color-primary:#E7E7E7;
  --color-secondary:#3282F7;
  --color-tertiary:#68D9A4;
  --color-quaternary:#ED6454;
  --color-quinary:#C7BEBE;
  --body-bg-color:white;
  --font-main:Lato;
  --font-secondary:Roboto;
}

:root {
  --color-primary:#E7E7E7;
  --color-secondary:#3282F7;
  --color-tertiary:#68D9A4;
  --color-quaternary:#ED6454;
  --color-quinary:#C7BEBE;
  --body-bg-color:white;
  --font-main:Lato;
  --font-secondary:Roboto;
}

@media screen and (max-width: 1620px) {
  main {
    margin-left: auto;
    margin-right: auto;
  }
  main header > aside > .fa-search {
    margin-left: 1385px;
    margin-top: -1.5em;
    margin-bottom: 0.5em;
    position: initial;
  }
}
@media screen and (max-width: 850px) {
  main header > aside > .fa-search {
    display: block;
  }
  main > section.recipes-section {
    justify-content: center;
  }
  main > section.recipes-section > article > aside {
    bottom: calc(-100% + 180px);
    height: 180px;
  }
  main > section.recipes-section > article > aside > h2 {
    max-width: 57%;
  }
}
@media screen and (max-width: 420px) {
  section.recipes-section > article {
    min-width: 110px;
    height: auto;
  }
  section.recipes-section > article > aside {
    flex-direction: row;
  }
  section.recipes-section > article > aside > h2 {
    width: 85%;
  }
  section.recipes-section > article > aside > .ingrédients, section.recipes-section > article > aside .description {
    min-width: 60px;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  box-shadow: 0px 0px 5px 5px var(--tab-shadow-color);
  z-index: 3;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-bg-color);
  transition: background-color 250ms ease-in-out;
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: Lato, Helvetica, sans-serif;
}
button:hover {
  cursor: pointer;
}

select {
  border: none;
  font-family: Lato, Helvetica, sans-serif;
}

label:hover {
  cursor: pointer;
}

dialog {
  border: none;
}

fieldset {
  border: none;
}

input {
  border: none;
}

textarea {
  border: none;
  resize: none;
}

ul {
  list-style-type: none;
}

:root {
  --color-primary:#E7E7E7;
  --color-secondary:#3282F7;
  --color-tertiary:#68D9A4;
  --color-quaternary:#ED6454;
  --color-quinary:#C7BEBE;
  --body-bg-color:white;
  --font-main:Lato;
  --font-secondary:Roboto;
}

header {
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 0.7em;
}
header > a {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header > a > div:nth-child(n+2) {
  margin-top: 10px;
}

main {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}
main section.search-section {
  margin-top: 1em;
  text-align: left;
}
main section.search-section > form {
  margin-bottom: 10px;
}
main section.search-section > form > input#search {
  width: 100%;
  font-family: var(--font-main);
  background-color: var(--color-primary);
  border: none;
  border-radius: 3px;
  height: 55px;
  padding: 15px;
  outline: none;
  margin-top: 0.5em;
  font-weight: 600;
  text-overflow: ellipsis;
}
main section.search-section > form > input#search::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
main section.search-section > form > .fa-search {
  position: relative;
  left: calc(100% - 40px);
  margin-top: -1.45em;
  font-size: 1.8em;
}
main section.search-section > #tagsList > div {
  display: inline-block;
}
main section.search-section > #tagsList > div > .tag {
  width: max-content;
  display: inline-block;
  border-radius: 4px;
  color: white;
  padding: 0.7em;
  padding-left: 1.2em;
  padding-right: 1.35em;
  margin-right: 0.5em;
  margin-bottom: -0.5em;
  font-size: 0.8em;
  font-family: var(--font-main);
  font-weight: 600;
  position: relative;
  transition: all 0.5s;
}
main section.search-section > #tagsList > div > .tag > .fa-circle-xmark {
  font-size: 1.2em;
  position: relative;
  left: 5px;
  cursor: pointer;
  transition: all 1s;
}
main section.search-section > #tagsList > div > .tag > .fa-circle-xmark:hover, main section.search-section > #tagsList > div > .tag > .fa-circle-xmark:active, main section.search-section > #tagsList > div > .tag > .fa-circle-xmark:focus {
  transform: rotate(360deg);
}
main section.search-section > #tagsList > div > .tagIngredient {
  background: var(--color-secondary);
}
main section.search-section > #tagsList > div > .tagAppliance {
  background: var(--color-tertiary);
}
main section.search-section > #tagsList > div > .tagUstensil {
  background: var(--color-quaternary);
}
main section.search-section > .tagList {
  display: inline-flex;
  align-items: baseline;
  flex-wrap: wrap;
  background: var(--color-secondary);
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 1em;
  width: 140px;
  height: 50px;
  min-width: initial;
  max-width: 355px;
  transition: all 1s;
  padding: 1em;
  color: white;
  margin-top: 1.5em;
  margin-right: 0.8em;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
main section.search-section > .tagList > span > input {
  background: none;
  border: none;
  color: white;
  outline: none;
  width: auto;
  font-family: var(--font-main);
  font-weight: 600;
}
main section.search-section > .tagList > span > input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
main section.search-section > .tagList > span > input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
main section.search-section > .tagList .fa-chevron-up {
  transform: rotate(180deg);
  position: relative;
  left: 10px;
  cursor: pointer;
  transition: all 0.4s;
}
main section.search-section > .tagList > .list {
  display: none;
  overflow: auto;
  width: 100%;
  height: 90%;
  margin-top: 1.5em;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: column;
  transition: all 0.3s;
}
main section.search-section > .tagList > .list::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
main section.search-section > .tagList > .list > span {
  margin-bottom: 0.65em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  cursor: pointer;
  transition: all 0.4s;
}
main section.search-section > #ingredients {
  background: var(--color-secondary);
}
main section.search-section > #ingredients:hover {
  background-color: #0751bc;
  transition: all 0.5s;
}
main section.search-section > #ingredients > #listIngredients::-webkit-scrollbar-thumb {
  background: #0060ec;
  border-radius: 5px;
}
main section.search-section > #ingredients > #listIngredients > span:hover, main section.search-section > #ingredients > #listIngredients > span:active, main section.search-section > #ingredients > #listIngredients > span:focus {
  color: #f6faff;
}
main section.search-section > #appliances {
  background: var(--color-tertiary);
}
main section.search-section > #appliances:hover {
  background-color: #2caf72;
  transition: all 0.5s;
}
main section.search-section > #appliances > #listAppliances::-webkit-scrollbar-thumb {
  background: #469e75;
  border-radius: 5px;
}
main section.search-section > #appliances > #listAppliances > span:hover, main section.search-section > #appliances > #listAppliances > span:active, main section.search-section > #appliances > #listAppliances > span:focus {
  color: white;
}
main section.search-section > #ustensils {
  background: var(--color-quaternary);
  margin-bottom: 0.3em;
}
main section.search-section > #ustensils:hover {
  background-color: #c62715;
  transition: all 0.5s;
}
main section.search-section > #ustensils > #listUstensils::-webkit-scrollbar-thumb {
  background: #d74938;
  border-radius: 5px;
}
main section.search-section > #ustensils > #listUstensils > span:hover, main section.search-section > #ustensils > #listUstensils > span:active, main section.search-section > #ustensils > #listUstensils > span:focus {
  color: white;
}
main section.recipes-section {
  margin-top: 1.5em;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
main section.recipes-section > article {
  width: 100%;
  min-width: 272px;
  max-width: 360px;
  height: 364px;
  background: var(--color-quinary);
  border-radius: 3px;
  font-family: var(--font-main);
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 2em;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
}
main section.recipes-section > article:hover, main section.recipes-section > article:active, main section.recipes-section > article:focus {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1215686275);
}
main section.recipes-section > article > aside {
  background: var(--color-primary);
  position: relative;
  bottom: calc(-100% + 200px);
  width: 100%;
  min-width: 272px;
  max-width: 360px;
  height: 200px;
  padding-top: 0.5em;
  border-radius: 0px 0px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  flex-wrap: wrap;
}
main section.recipes-section > article > aside > h2 {
  font-size: 18px;
  margin-left: 1em;
  margin-bottom: 0px;
  width: max-content;
  min-width: 30%;
  max-width: 56%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main section.recipes-section > article > aside > .time {
  font-size: 18px;
  margin-right: 1.5em;
  margin-bottom: 0px;
}
main section.recipes-section > article > aside > .ingrédients {
  font-size: 12px;
  margin-left: 1.5em;
  margin-top: 1.5em;
  min-width: 115px;
  width: 38%;
  max-width: 135px;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main section.recipes-section > article > aside > .description {
  font-size: 12px;
  min-width: 127px;
  width: 47%;
  max-width: 165px;
  margin-right: 1em;
  margin-top: 1.5em;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}
main section.recipes-section > #searchFailed {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.5%;
  text-align: center;
}
main section.recipes-section > #searchFailed > span {
  font-family: var(--font-main);
  color: #d04f4f;
  font-weight: 600;
  font-size: 1.6em;
}

:root {
  --color-primary:#E7E7E7;
  --color-secondary:#3282F7;
  --color-tertiary:#68D9A4;
  --color-quaternary:#ED6454;
  --color-quinary:#C7BEBE;
  --body-bg-color:white;
  --font-main:Lato;
  --font-secondary:Roboto;
}

:root {
  --color-primary:#E7E7E7;
  --color-secondary:#3282F7;
  --color-tertiary:#68D9A4;
  --color-quaternary:#ED6454;
  --color-quinary:#C7BEBE;
  --body-bg-color:white;
  --font-main:Lato;
  --font-secondary:Roboto;
}

@media screen and (max-width: 1620px) {
  main {
    margin-left: auto;
    margin-right: auto;
  }
  main header > aside > .fa-search {
    margin-left: 1385px;
    margin-top: -1.5em;
    margin-bottom: 0.5em;
    position: initial;
  }
}
@media screen and (max-width: 850px) {
  main header > aside > .fa-search {
    display: block;
  }
  main > section.recipes-section {
    justify-content: center;
  }
  main > section.recipes-section > article > aside {
    bottom: calc(-100% + 180px);
    height: 180px;
  }
  main > section.recipes-section > article > aside > h2 {
    max-width: 57%;
  }
}
@media screen and (max-width: 420px) {
  section.recipes-section > article {
    min-width: 110px;
    height: auto;
  }
  section.recipes-section > article > aside {
    flex-direction: row;
  }
  section.recipes-section > article > aside > h2 {
    width: 85%;
  }
  section.recipes-section > article > aside > .ingrédients, section.recipes-section > article > aside .description {
    min-width: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
